@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
}

.navbar {
  background-color: #f5f5f5;
}

.navbar .logo {
  display: inline;
  font-family: 'Castoro', serif;
  font-size: 1.2rem;
}

.navbar .logo a {
  color: #23120b;
}

.navbar .logo a:hover {
  color: #33a3e9;
}

.navbar .links {
  display: inline;
}

.navbar a {
  display: inline-block;
  color: #23120b;
  margin: 0 10px;
  text-decoration: none;
  padding: 10px 10px;
}

.navbar .links a {
  margin-top: 5px;
}

.navbar .links a:hover {
  background-color: #048ade;
  color: #f0f0f0;
}

a {
  transition: all 0.2s;
}

.middle-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
  width: 100%;
}

.middle-align h1,
.middle-align h2,
.middle-align h3 {
  color: white;
  filter: drop-shadow(-1px 2px 3px #1d1d1d);
}

.middle-align h1 {
  font-size: 3rem;
}
.middle-align h3 {
  font-size: 1.2rem;
}

.bg-whole {
  display: flexbox;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/homepage.jpg);
  background-position: center center;
  height: 100vh;
}

a {
  transition: all 0.2s;
}

.createForm {
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

input:not([disabled]):not([type='submit']) {
  font-size: 1rem;
  padding: 5px 7px;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
  margin: 5px;
  min-width: 150px;
}

input:hover {
  background-color: #ededed;
}

label {
  font-size: 1.2rem;
  min-width: 150px;
  display: inline-block;
}

select {
  padding: 8px 10px;
  border-radius: 5px;
  width: 185px;
}

.btn {
  font-family: Lato;
  font-size: 1.1rem;
  margin-top: 15px;
  background-color: #048ade;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.create-btn {
  width: 100%;
  max-width: 185px;
  padding: 6px 7px;
}

.create-btn:hover {
  transition: all 0.2s;
  background-color: #21a6f9;
}

.create-btn:active {
  background-color: #048ade;
}

.half-bg-students {
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/students.jpg);
  height: 50vh;
}

.half-bg-campuses {
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/campuses.jpg);
  height: 50vh;
}

.half-bg-study {
  display: flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/study.jpg);
  height: 50vh;
}

button,
.normal-btn {
  font-family: Lato;
  padding: 6px 20px;
  margin: 10px 5px;
  background-color: #048ade;
  color: #f5f5f5;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

button:hover,
.normal-btn:hover {
  transition: all 0.2s;
  background-color: #21a6f9;
}

button:active,
.normal-btn:active {
  background-color: #048ade;
}

.red-btn {
  background-color: #ce4535;
}

.red-btn:hover {
  background-color: #e74c3c;
}

.red-btn:active {
  background-color: #ce4535;
}

.green-btn {
  background-color: #27ae60;
}

.green-btn:hover {
  background-color: #2ecc71;
}

.green-btn:active {
  background-color: #27ae60;
}
